.App {
  text-align: center;
}

header {
  margin: 0 auto;
  padding: 10px ;
  color: purple;
  background-color: #99e;
}
header.highlighted {
  background-color: #21ff00;
}

.user {
  background-color: aquamarine;
  border: 1px solid;
  margin: 1rem auto;
}

.movie {
  background-color: fuchsia;
  border: 1px solid;
  margin: 1rem auto;
}